* {
  font-family: "Inter", sans-serif;
}
body {
  background: #e5e5e5;
}

header img {
  width: 31.09px;
  height: 48px;
  margin-left: 44px;
  margin-top: 20px;
}
.container {
  display: flex;
  margin-left: 60px;
  gap: 100px;
}

.p1 {
  width: 700px;
  margin-top: 50px;
}

.p1 textarea {
  height: 288px;
  padding-top: 50px;
  padding-left: 52px;
  padding-bottom: 10px;
  resize: none;
  border: none;
  background: #e5e5e5;

  font-weight: 400px;
  font-size: 32px;
  line-height: 150%;
  overflow: hidden;
}

.p1 p {
  padding-top: 30px;
  margin-left: 20px;
  color: #495057;
  line-height: 18px;
  size: 12px;
}

.p1 textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.p2 textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.p2 {
  width: 400px;
  height: 550px;
  border-radius: 32px;
  background-color: #ffffff;
}

.p2 textarea {
  width: 336px;
  height: 400px;
  margin-top: 20px;
  margin-left: 30px;
  resize: none;
  border: none;
  padding: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}
.p2 button {
  margin-left: 38px;
  padding: 24px;
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background: #ffffff;
  margin-top: 30px;
  cursor: pointer;
  border: 1px #495057 solid;
  font-size: 16px;
  line-height: 19px;
  color: #0a3871;
}

.btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.btn p {
  display: block;
  position: absolute;
}

.btn button {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  padding: 24px;
  font-size: 16px;
  line-height: 19px;
  border: 1px #495057 solid;
  cursor: pointer;
}

.btnEncrypt {
  color: #ffffff;
  background: #0a3871;
}

.btnDescrypt {
  color: #0a3871;
}

@media screen and (max-width: 600px) {


 
  .container {
    width: auto;
    margin-left: 5px;
    overflow: hidden;
    flex-direction: column;
  }

  .btn {
    width: auto;
    flex-direction: column;
    margin-left: 5px;
  }

  .p1 p {
    margin-left: 20px;
  }

  .p1 textarea {
    width: 300px;
    padding: 20px;
  }
}
.p2 {
  width: auto;
  margin-bottom: 20px;
  
 
  


}

.p2 button {
  margin-left: 10px;
}

.p2 textarea {
  width: 300px;
  padding: 2px;
}
.p1 p {
  font-size: 12px;
}
